h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-padding-top: 95.71px;
}
.nav{
    background-color: none;
}
.navbar-brand {
    color: white;
    font-size: 18px;
    line-height: 25.7143px;
    letter-spacing: 1px;
    font-weight: 800;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;

}

.nav-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link.active {
    color: white;
}

.nav-link:hover,
.navbar-brand:hover {
    color: white;
}

.nav-item .nav-link {
    position: relative;
}

.nav-item .nav-link::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.nav-item .nav-link.active::after {
    width: 100%;
}

.navbar {
    padding: 20px 0 30px !important;
}

nav .nav-item
{
    margin: 25px 20px 0;
}

/* header */
#home {
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: 0px 0px;
    background-attachment: fixed;
}

#home .over-lay {
    background-color: rgba(0, 0, 0, 0.65);

}
#home h5{
    font-size:50px;
    line-height:55px;
    font-weight:800;
}
#home span{
    padding: 0.2em 0;
    display: inline-block;
    font-size: 2rem;
    line-height: 1.2;
    font-weight:200;
}

@media only screen and (min-width: 768px) {
    #home span {
      font-size: 3rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    #home span {
      font-size: 4rem;
    }
  }
.social{
    margin-top: 30px;
}

#home span::after {
    content: '';
    animation: changing 10s infinite linear;
    font-weight: bolder;
}
@keyframes changing {
    0%{content: '|';}
    1.5%{content: ' L|';}
    3%{content: ' La|';}
    4.5%{content: ' Lar|';}
    6%{content: ' Larr|';}
    7.5%{content: ' Larry|';}
    9%{content: ' Larry |';}
    10.5%{content: ' Larry D|';}
    12%{content: ' Larry Da|';}
    13.5%{content: ' Larry Dan|';}
    15%{content: ' Larry Dani|';}
    16.5%{content: ' Larry Danie|';}
    18%{content: ' Larry Daniel|';}
    19.5%{content: ' Larry Daniels|';}
    21%{content: ' Larry Daniel|';}
    22.5%{content: ' Larry Danie|';}
    24%{content: ' Larry Dani|';}
    25.5%{content: ' Larry Dan|';}
    27%{content: ' Larry Da|';}
    28.5%{content: ' Larry D|';}
    30%{content: ' Larry |';}
    31.5%{content: ' Larry|';}
    33%{content: ' Larr|';}
    34.5%{content: ' Lar|';}
    36%{content: ' La|';}
    37.5%{content: ' L|';}
    39%{content: '|';}
    40.5%{content: ' D|';}
    42%{content: ' De|';}
    43.5%{content: ' Dev|';}
    45%{content: ' Deve|';}
    46.5%{content: ' Devel|';}
    48%{content: ' Develo|';}
    49.5%{content: ' Develop|';}
    51%{content: ' Develope|';}
    52.5%{content: ' Developer|';}
    54%{content: ' Develope|';}
    55.5%{content: ' Develop|';}
    57%{content: ' Develo|';}
    58.5%{content: ' Devel|';}
    60%{content: ' Deve|';}
    61.5%{content: ' Dev|';}
    63%{content: ' De|';}
    64.5%{content: ' D|';}
    66%{content: ' |';}
    67.5%{content: ' D|';}
    69%{content: ' De|';}
    70.5%{content: ' Des|';}
    72%{content: ' Desi|';}
    73.5%{content: ' Desig|';}
    75%{content: ' Design|';}
    76.5%{content: ' Designe|';}
    78%{content: ' Designer|';}
    79.5%{content: ' Designe|';}
    81%{content: ' Design|';}
    82.5%{content: ' Desig|';}
    84%{content: ' Desi|';}
    85.5%{content: ' Des|';}
    87%{content: ' De|';}
    88.5%{content: ' D|';}
    100%{content: ' |';}
    
    
}
.social li i {
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars{
    color: white;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}


#home .container {
    padding-top: 95.71px;
}

section {
    padding: 100px 0;
}

.about-img {
    padding: 0 0 0 30px;
    position: relative;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.about-img::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.skills {
    margin-top: 30px;
}

.skills .item {
    margin-bottom: 30px;
}

.skills .skills-progress {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

.skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: #1c1c1c;
    transition: all 1s;
}

.skills h6 {
    font-size: 13px;
    color: #fff;
    position: relative;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    line-height:14.3px;
}

.skills .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}
.about-content h3{
    font-size:30px;
    line-height:33px;
    font-weight:800;
    color: #343434;
}
.about-content>span{
    font-size:14px;
    line-height:20px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
    color: #999999;    
    letter-spacing:2px;
    display: block;
    margin-bottom: 20px;
    
}
.about-content p{
    color:#748182;
    font-size:15px;
    line-height:24px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
}
#about .btn {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 20px;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
}

#about .btn-1 {
    background-color: #1c1c1c;
    color: white;
}

#about .btn-1:hover {
    background-color: white;
    color: #1c1c1c;
    border: 1px solid #1c1c1c;

}

.btn-2:hover {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #1c1c1c;
}

.section-head {
    margin-bottom: 80px;
    text-align: center;
}

.section-head h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}

.section-head h3:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.card-item {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

.card-item i {
    width: 70px;
    height: 70px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.card-item:hover i {
    background-color: black;
    color: white;
}

#services .fa {
    font-size: 30px;
}

.card-item h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
    line-height: 19.8px;
}

.card-item p {
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.6;
    color: #748182;
    font-family: 'Poppins', sans-serif;
}

.author-img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

#clients p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(116, 129, 130);
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

#clients h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
}

#clients span {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.carousel-indicators [data-bs-target] {
    all: unset;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #869791;
    opacity: 0.4;
    transition: opacity 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active,
.carousel-indicators [data-bs-target]:hover {
    opacity: 1;
}

#works .nav-pills .nav-link.active,
#works .nav-pills .nav-link {
    background-color: transparent;
    color: #222;
    font-weight: 700;
    line-height: 22.8571px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    cursor: pointer;
}

#works .nav-pills .nav-link {
    position: relative;
}

#works .nav-pills .nav-link::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #222;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.4s;
}

#works .nav-pills .nav-link.active::before {
    width: 100%;
}

.over-lay2 {
    position: absolute;
    inset: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(10px);
}

.portfolio-item:hover .over-lay2 {
    opacity: 1;
    transform: translateY(0px);
}

.portfolio-icons i {
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
}

.portfolio-icons i:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: #111;
}

.portfolio-item h6 {
    transform: translateY(-15px);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    transition: all 0.5s;

}
.p-15{
    padding: 0px 15px;
}
.portfolio-item:hover h6,
.portfolio-item:hover .portfolio-icons {
    transform: translateY(0px);
}

.portfolio-icons {
    transform: translateY(15px);
    transition: all 0.5s;
}


#counter .counter-icon {
    font-size: 30px;
    margin-bottom: 15px;
}

#counter h3 {
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 33px;
}

#counter p {
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #748182;
}

.contact-icon {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}

#contact h6 {
    margin-bottom: 10px;
    line-height: 17.6px;
    font-weight: 700;
}

#contact p {
    line-height: 1.6;
    font-size: 15px;
    color: #748182;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.contact-icons:hover .contact-icon {
    background-color: #1c1c1c;
    color: #eee;
}

.contact-icons {
    margin-bottom: 30px;
}

#contact .btn-3 {
    padding: 10px 40px;
    background: #1c1c1c;
    color: #eee;
}

#contact .btn {
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
}

.btn-3:hover {
    background: transparent !important;
    color: #343434 !important;
}

#contact input,
#contact textarea {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.m-15 {
    margin-bottom: 15px;
}

form :is(input, textarea):focus {
    outline: none;
}

.mb-50 {
    margin-bottom: 50px;
}

footer {
    background: #1c1c1c;
    padding: 30px;
}

footer p {
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    color: #748182;
    font-family: 'Poppins', sans-serif;
}

.team-item {
    background-color: rgba(52, 52, 52, .8);
    margin-bottom: 10px;
}

.img-rounded {
    border-radius: 6px;
}

.team-content h4 {
    margin: 0 0 5px;
    font-size: 25px;
    line-height: 27.5px;
    font-weight: 500;
}

.team-content h5 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

.team-content {
    padding: 25px;
}
.team-img:hover img{
    transform: scale(1.2);
}
.team-img img{
    transition: all 0.4s ease 0s;
}
.over-lay3{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    transform: rotateY(180deg) scale(0.5, 0.5);
    opacity: 0;
    transition: all 0.5s;
}
.team-social i{
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social li{
    padding: 0px 6px;
}
.team-social i:hover{
    color: #000;
    background-color:transparent;
}
.team-item:hover .over-lay3{
    cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}